@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Lalezar, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #333;
} 
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width:325px;
    background-color: #FECB2E;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 4px 8px rgba(0,0,0,0.2);
    margin:20px;
}
.card img{
    width:100%;
    height: auto;
}
.card-content {
    text-align: center;
    padding:16px;
}
.card-content h3{
    font-size: 20px;
    margin-bottom: 8px;
}
.card-content p{
    color:#666;
    font-size: 15px;
    line-height: 1.3;
}

.logo-wrapper {
    width: fit-content;
    float: left;
}

.logo {
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
    margin-bottom: 30%;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

#title {
    margin: auto;
    color: #FECB2E;
}