<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css"/>
    <title>Katalog lektorů</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand mx-4" href="/" title="Domů">
            <img src="../static/TeacherDigitalAgency_LOGO_colour-black.svg" width="100px" height="100px">
        </a>
        
        <h1 class="navbar-header" style="padding-top: 10px;">Katalog lektorů</h1>
        <input class="mx-4" type="image" src="../static/user-svgrepo-com.svg" width="60px" height="60px" style="border: 1px solid #000;" title="Přihlásit se">
    </nav>

    <div class="d-flex justify-content-center my-3">
        <form action="#" onsubmit="on_search();return false" class="w-50">
        <div class="form-row">
            <div class="input-group">
                <input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="hledat lektora..." aria-label="Search" title="Hledat">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" onclick="on_filter_btn_clicked()" ><i class="fa fa-filter" aria-label="Filter" title="Filtrovat možnosti"></i></button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true" title="Vyhledat"></i></button>
            </div>
        </div>
        </form>
    </div>

    <div id="filter_menu" class="d-flex justify-content-center my-3">
        <div class="w-50 p-2" style="border: 1px dashed black; min-height: 200px; border-radius: 8px;">
            <div class="row-cols-auto">
                <b class="d-inline-grid">Kč/hod:</b>
                <p class="d-inline-grid">od</p>
                <input id="pph_min" class="col-2" type="number">
                <p class="d-inline-grid">do</p>
                <input id="pph_max" class="col-2" type="number">
            </div>
            
            <div class="row-cols-auto">
                <b class="d-inline-grid">Lokality:</b>
                <div id="wanted_locations" class="d-inline-block input-group">
		    {% for location in all_locations %}
                    <label class="location-toggle">
                        <input type="checkbox" style="display: none;">
			<span class="check-strike noselect border" style="border-radius: 4px;">{{location}}</span>
                    </label>
		    {% endfor %}
                </div>
            </div>
            
            <div class="row-cols-auto">
                <b class="d-inline-grid">Tagy:</b>
                <div id="wanted_tags" class="d-inline-block input-group">
		    {% for tag in all_tags %}
                    <label class="tag-toggle">
                        <input type="checkbox" style="display: none;">
			<span class="check-grey noselect border" style="border-radius: 4px;">{{tag}}</span>
                    </label>
		    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center my-3">
    <div id="lecturers" class="d-flex flex-column w-100">
	{% for lecturer in lecturers %}
	<div id="{{'lecturer_' + lecturer['uuid']}}" class="lecturer mx-auto w-75 p-2 my-2" style="border: 1px solid black; min-height: 200px; border-radius: 8px;">
	    <div class="d-flex">
		    <img class="d-inline-grid" src="{{lecturer['picture_url'] or '../static/user-svgrepo-com.svg'}}" width="200px" height="200px">
	        <div class="w-100" style="height: 100%;">
			<h3 class="w-100 text-center" style="margin-bottom: -20px;">
				<a style="font-family: Lalezar;" href="{{ '/lecturer/' + lecturer['uuid']}}">{{get_fullname(lecturer)}}</a>
			</h3>
		    <hr style="height: 1px; width: 100%; margin-bottom: 5px;">
		    {% if (lecturer["claim"] or "") != "" %}
		    <span class="mx-1 lecturer-claim">{{lecturer["claim"]}}</span>
		    {% endif %}
		    {% if (lecturer["location"] or "") != "" %}
		    <div class="d-flex my-1 lecturer-location"><i class="fa fa-map-marker mx-1" style="font-size: 25px;"></i><span>{{lecturer["location"]}}</span></div>
		    {% endif %}
		    {% if (lecturer["price_per_hour"] or -1) != -1 %}
		    <div class="d-flex my-1 lecturer-pph"><i class="fa fa-money mx-1" style="font-size: 25px;"></i><span>{{lecturer["price_per_hour"]}} Kč/hod</span></div>
		    {% endif %}
		    <div class="d-flex my-1 lecturer-emails"><i class="fa fa-envelope mx-1" style="font-size: 25px;"></i><span>{{get_emails(lecturer)}}</span></div>
		    <div class="d-flex my-1 lecturer-telnums"><i class="fa fa-phone mx-1" style="font-size: 25px;"></i><span>{{get_telnums(lecturer)}}</span></div>
	        </div>
	    </div>
	    {% if (lecturer["bio"] or "") != "" %}
	    <span class="d-block w-100 border lecturer-bio" style="border-radius: 2px;">{{lecturer["bio"]|safe}}</span>            
	    {% endif %}
            <div class="lecturer-tags row-cols-auto my-1">
                <b class="d-inline-grid">Tagy:</b>
                <div class="d-inline-block">
		    {% for tag in lecturer["tags"] %}
		    <span class="border" style="border-radius: 4px;">{{tag["name"]}}</span>
		    {% endfor %}
                </div>
            </div>
        </div>
	{% endfor %}
    </div>
    </div>
    <script src="../static/catalogue.js"></script>
</body>
</html>
