<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styly.css"/>
    <title>Žabantí TdA</title>
</head>
<body>
    <div class="navbar">
        <div class="logo-wrapper">
            <img class="logo" src="../static/TeacherDigitalAgency_LOGO_colour-white.svg" width="100"> 
        </div>
        <h1 id="title">Dynamický katalog lektorů</h1>
        <button onclick="window.location = '/'">[←] Home</button>
    </div>
    <section class="about">
        <div class="main">
            <img src="{{lecturer['picture_url'] or '../static/default-picture.svg'}}">
            <div class="about-text">
                <h1>{{get_fullname(lecturer)}}</h1>
                <h5>{{lecturer["claim"]}}</h5>
                <h5>{{lecturer["location"]}}</h5>
                <p>{{lecturer["bio"] | safe}}</p>
                <p>{{get_tags(lecturer)}}</p>
                <h5>{{lecturer["price_per_hour"]}} Kč/hodinu</h5>
                <div class="contacts">
                    <p>Email: {{get_emails(lecturer)}}</p>
                    <p>Telefon: {{get_telnums(lecturer)}}</p>
                </div>
            </div>
        </div>
    </section>

    </section>
<body>
</html>